* {
  font-family: 'Readex Pro', sans-serif;
}

body {
  background-color: #0D1B2A;
  padding: 50px;
  font-family: 'Readex Pro', sans-serif;
  color: white ;
}

main {
  max-width: 900px;
  margin: 20px auto;
}

a {
  color: #00B7FF;
}

.card {
  position: relative;
  background-color: #080e14;
  padding: 1em;
  margin: 20px;
  z-index: 5;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  max-width: 300px;
  transition: 200ms ease-in-out;
}

.username {
  color: #C6E1ED;
  font-size: 0.85em;
  font-weight: 600;
}

.body {
  display: flex;
  flex-direction: column;
}

.body .text {
  margin: 0 10px 0 0;
  white-space: pre-line;
  color: #c0c3d7;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 4px;
}

.footer {
  position: relative;
  width: 100%;
  color: #9fa4aa;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  margin-top: 10px;
}

.footer div {
  margin-right: 1rem;
  height: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.footer svg {
  margin-right: 5px;
  margin-left: 5px;
  height: 100%;
  width: 8%;
  stroke: #ff6599;
}

.viewer span {
  height: 20px;
  width: 20px;
  background-color: rgb(28, 117, 219);
  margin-right: -6px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: grid;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 8px;
  color: #fff;
  padding: 2px;
}

.viewer span svg {
  stroke: #fff;
}

.btn {
  border: 1px solid transparent;
  background-color: #FFCA28;
  padding: 10px 20px;
  color: #534200;
  border-radius: 40px;
  font-size: larger;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}

.form input , .form textarea {
  display: block;
  padding: 12px 20px;
  width: -webkit-fill-available;
  border-radius: 38px;
  border: 1px solid transparent;
  margin: 4px 30px;
  font-weight: 800;
}

.form textarea {
  border-radius: 0px;
}
